---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Con una mentalidad proactiva y una pasión por los desafíos y las nuevas tecnologías, anticipo y supero obstáculos, 
    abordando cada proyecto como una oportunidad de aprendizaje. Considero que las tecnologías emergentes son puertas 
    hacia el futuro, y mi constante deseo de estar a la vanguardia es uno de mis pilares fundamentales. Estoy 
    entusiasmado por los futuros desafíos y las oportunidades que el avance de la informática traerá.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Desarrollador"
      subtitle="Ministerio de Economía y Finanzas, Asunción, Paraguay. 2024 - actualidad"
    >
    <ul style="list-style-type: square;">
      <li>Desarrollo y mantenimiento de aplicaciones web con JavaScript, HTML, CSS, Angular, PHP y WordPress.</li>
      <li>Colaboración con el equipo para implementar nuevas funcionalidades y corregir errores, mejorando la eficiencia del producto.</li>
    </ul><br />
    </TimeLineElement>
    
    <TimeLineElement
      title="Jefe del Departamento de Infraestructura"
      subtitle="Secretaría Técnica de Planificación, Asunción, Paraguay. 2022 - 2023"
    >
    <!--Como Jefe del Departamento de Infraestructura, gestiono la infraestructura tecnológica heredada de la organización, asegurando el correcto funcionamiento de servidores, redes y servicios críticos. Lidero el equipo encargado del mantenimiento y optimización de los sistemas, implementando mejoras y garantizando la seguridad y disponibilidad continua de los recursos tecnológicos para cumplir con los objetivos operativos de la institución. He trabajado extensivamente con herramientas de código abierto como NGINX, Apache, New Relic, Docker, Portainer, Jenkins, Proxmox y Proxmox Mail Gateway, aprovechando estas plataformas para optimizar el rendimiento, la monitorización y la gestión de los sistemas heredados.-->
    <ul style="list-style-type: square;">
      <li>Gestioné la infraestructura tecnológica heredada, asegurando la operatividad de servidores, redes y servicios críticos.</li>
      <li>Implementé y optimicé despliegues automatizados en CI/CD con Jenkins y GitLab CI, mejorando la estabilidad de los procesos.</li>
      <li>Administré entornos con Docker para asegurar despliegues consistentes y una fácil gestión de entornos.</li>
    </ul><br />
    </TimeLineElement>

    <TimeLineElement
      title="Jefe del Departamento de Infraestructura"
      subtitle="Secretaría Nacional Anticorrupción, Asunción, Paraguay. 2019 - 2022"
    >
    <!--Como Jefe del Departamento de Infraestructura, gestiono la infraestructura tecnológica de la organización, asegurando el correcto funcionamiento de servidores, redes y servicios críticos. Lidero el equipo encargado del mantenimiento y optimización de los sistemas, implementando mejoras y garantizando la seguridad y disponibilidad continua de los recursos tecnológicos para cumplir con los objetivos operativos de la institución. Junto con mi equipo, realizamos la implementación de un centro de datos totalmente nuevo y funcional, empleando herramientas de código abierto como NGINX, Apache, New Relic, Docker, Portainer, Jenkins, Proxmox y Proxmox Mail Gateway para optimizar su rendimiento, monitorización y gestión.-->
    <ul style="list-style-type: square;">
      <li>Dirigí la infraestructura tecnológica, garantizando la continuidad de servidores y redes.</li>
      <li>Automatización de despliegues con Jenkins y GitLab CI, logrando procesos eficientes y estables.</li>
      <li>Coordiné la implementación de un nuevo centro de datos, optimizando el rendimiento de los sistemas.</li>
    </ul><br />
    </TimeLineElement>
    <TimeLineElement
      title="Soporte Técnico"
      subtitle="Secretaría Técnica de Planificación, Asunción, Paraguay. 2015 - 2019"
    >
    <ul style="list-style-type: square;">
      <li>Resolución de problemas de hardware, software y redes, asegurando soporte técnico efectivo y sistemas estables.</li>
    </ul><br />
    </TimeLineElement>
    <TimeLineElement
      title="Desarrollador Genexus"
      subtitle="Soften, Asunción, Paraguay. 2014 - 2015"
    >
    <ul style="list-style-type: square;">
      <li>Implementación de soluciones Low-Code utilizando Genexus, asegurando funcionalidad y soporte de calidad.</li>
    </ul><br />
    </TimeLineElement>
    <TimeLineElement
      title="Soporte Técnico"
      subtitle="Financiera Paraguayo Japonesa, Asunción, Paraguay. 2012 - 2014"
    >
    <ul style="list-style-type: square;">
      <li>Asistencia en instalación, mantenimiento y resolución de problemas en hardware y software, garantizando continuidad operativa.</li>
    </ul><br />
    </TimeLineElement>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Lic. en Informatica"
      subtitle="2020 - Actualmente - Universidad Americana, Asunción, Paraguay"
    />
    <TimeLineElement
      title="Ingles"
      subtitle="2024 - Actualmente - Lynx, Bogotá, Colombia "
    />
    <TimeLineElement
      title="Ingles"
      subtitle="2024 - Actualmente - Platzi, Bogotá, Colombia"
    />
    <TimeLineElement
      title="Frontend Developer"
      subtitle="2024 - Actualmente - Platzi, Bogotá, Colombia"
    />
    <TimeLineElement
    title="Frontend Developer"
    subtitle="2024 - Actualmente - DevTalles"
  />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="/diploma-python-fundamentos.pdf" target="_blank"> Fundamentos de Phyton</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades de desarrollo</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>MySQL</li>
    <li>Git</li>
    <li>Postgres</li>
  </ul><br />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades de Infraestructura</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Linux</li>
    <li>Zimbra</li>
    <li>Postgres</li>
    <li>Proxmox</li>
    <li>Sophos</li>
    <li>Jenkins</li>
    <li>Docker</li>
  </ul>
</BaseLayout>
