---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Con una mentalidad proactiva y una pasión por los desafíos y las nuevas tecnologías, anticipo y supero obstáculos, 
    abordando cada proyecto como una oportunidad de aprendizaje. Considero que las tecnologías emergentes son puertas 
    hacia el futuro, y mi constante deseo de estar a la vanguardia es uno de mis pilares fundamentales. Estoy 
    entusiasmado por los futuros desafíos y las oportunidades que el avance de la informática traerá.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Lic. en Informatica"
      subtitle="2020 to Actualmente at Universidad Americana, Asunción, Paraguay"
    />
    <TimeLineElement
      title="Ingles"
      subtitle="2024 to Actualmente at Choice, Asunción, Paraguay"
    />
    <TimeLineElement
      title="Ingles"
      subtitle="2024 to Actualmente at Platzi, Bogotá, Colombia"
    />
    <TimeLineElement
      title="Frontend Developer"
      subtitle="2024 to Actualmente at Platzi, Bogotá, Colombia"
    />
    <TimeLineElement
    title="Frontend Developer"
    subtitle="2024 to Actualmente at DevTalles"
  />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Analista Desarrollador"
      subtitle="From 2024 to Actualmente at Ministerio de Economía y Finanzas, Asunción, Paraguay"
    >
    Desarrollo y mantenimiento de aplicaciones web utilizando JavaScript, HTML, CSS, angular, php y WordPress. Colaborar con el equipo para implementar nuevas funciones y corregir errores.
    </TimeLineElement>
    
    <TimeLineElement
      title="Jefe del Departamento de Infraestructura"
      subtitle="From 2022 to 2023 at Secretaría Técnica de Planificación, Asunción, Paraguay"
    >
    Como Jefe del Departamento de Infraestructura, mi labor principal ha sido liderar el mantenimiento, instalación y monitoreo de servidores y redes, asegurando la operatividad y seguridad de los sistemas. Además, gestiono equipos técnicos, implemento soluciones para optimizar el rendimiento de la infraestructura y superviso el cumplimiento de los estándares tecnológicos dentro de la organización.
    </TimeLineElement>

    <TimeLineElement
      title="Jefe del Departamento de Infraestructura"
      subtitle="From 2019 to 2022 at Secretaría Nacional Anticorrupción, Asunción, Paraguay"
    >
    Como Jefe del Departamento de Infraestructura, gestiono la infraestructura tecnológica de la organización, asegurando el correcto funcionamiento de servidores, redes y servicios críticos. Lidero el equipo encargado del mantenimiento y optimización de los sistemas, implementando mejoras y garantizando la seguridad y disponibilidad continua de los recursos tecnológicos para cumplir con los objetivos operativos de la institución.
    </TimeLineElement>
    <TimeLineElement
      title="Soporte Técnico"
      subtitle="From 2015 to 2019 at Secretaría Técnica de Planificación, Asunción, Paraguay"
    >
      Brindo asistencia técnica en la resolución de problemas de hardware, software y redes, asegurando el correcto funcionamiento de los sistemas y soporte eficiente a los usuarios.
    </TimeLineElement>
    <TimeLineElement
      title="Desarrollador Genexus"
      subtitle="From 2014 to 2015 at Soften, Asunción, Paraguay"
    >
      Brindo asistencia técnica en la resolución de problemas de hardware, software y redes, asegurando el correcto funcionamiento de los sistemas y soporte eficiente a los usuarios.
    </TimeLineElement>
    <TimeLineElement
      title="Soporte Técnico"
      subtitle="From 2012 to 2014 at Financiera Paraguayo Japonesa, Asunción, Paraguay"
    >
      Enfoque en proporcionar asistencia para la instalación, mantenimiento y resolución de problemas de hardware, software y redes.
    </TimeLineElement>
  </div>

  <!--<div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>TypeScript</li>
    <li>MySQL</li>
    <li>Git</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
