---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import TimeLineElement from "../components/cv/TimeLine.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola </div>
    <div class="text-5xl font-bold">Soy Ismael Melgarejo</div>
    <div class="text-3xl py-3 font-bold">Desarrollador Front-End y Administrador de Sistemas</div>
    <div class="py-2">
      <text class="text-lg">
        Desarrollador frontend con conocimientos b谩sicos en la creaci贸n de interfaces web utilizando HTML, CSS connect
        y JavaScript. Experiencia previa de 8 a帽os en administraci贸n de infraestructura IT, Servidores Linux 
        y virtualizaci贸n.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/ismaelmelgarejo/" target="_blank"> LinkedIn</a>
      <a href="mailto:contact.ismaelmelgarejo@gmail.com" target="_blank" class="btn btn-outline ml-5">
        Contacto
      </a>
    </div>
  </div>

  <!--<div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Desarrollador"
      subtitle="Ministerio de Econom铆a y Finanzas, Asunci贸n, Paraguay. 2024 - actualidad"
    >
    <ul style="list-style-type: square;">
      <li>Desarrollo y mantenimiento de aplicaciones web con JavaScript, HTML, CSS, Angular, PHP y WordPress.</li>
      <li>Colaboraci贸n con el equipo para implementar nuevas funcionalidades y corregir errores, mejorando la eficiencia del producto.</li>
    </ul>
    </TimeLineElement>
    
    <TimeLineElement
      title="Jefe del Departamento de Infraestructura"
      subtitle="Secretar铆a T茅cnica de Planificaci贸n, Asunci贸n, Paraguay. 2022 - 2023"
    >
    <!--Como Jefe del Departamento de Infraestructura, gestiono la infraestructura tecnol贸gica heredada de la organizaci贸n, asegurando el correcto funcionamiento de servidores, redes y servicios cr铆ticos. Lidero el equipo encargado del mantenimiento y optimizaci贸n de los sistemas, implementando mejoras y garantizando la seguridad y disponibilidad continua de los recursos tecnol贸gicos para cumplir con los objetivos operativos de la instituci贸n. He trabajado extensivamente con herramientas de c贸digo abierto como NGINX, Apache, New Relic, Docker, Portainer, Jenkins, Proxmox y Proxmox Mail Gateway, aprovechando estas plataformas para optimizar el rendimiento, la monitorizaci贸n y la gesti贸n de los sistemas heredados.-->
    <ul style="list-style-type: square;">
      <li>Gestion茅 la infraestructura tecnol贸gica heredada, asegurando la operatividad de servidores, redes y servicios cr铆ticos.</li>
      <li>Implement茅 y optimic茅 despliegues automatizados en CI/CD con Jenkins y GitLab CI, mejorando la estabilidad de los procesos.</li>
      <li>Administr茅 entornos con Docker para asegurar despliegues consistentes y una f谩cil gesti贸n de entornos.</li>
    </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Jefe del Departamento de Infraestructura"
      subtitle="Secretar铆a Nacional Anticorrupci贸n, Asunci贸n, Paraguay. 2019 to 2022"
    >
    <!--Como Jefe del Departamento de Infraestructura, gestiono la infraestructura tecnol贸gica de la organizaci贸n, asegurando el correcto funcionamiento de servidores, redes y servicios cr铆ticos. Lidero el equipo encargado del mantenimiento y optimizaci贸n de los sistemas, implementando mejoras y garantizando la seguridad y disponibilidad continua de los recursos tecnol贸gicos para cumplir con los objetivos operativos de la instituci贸n. Junto con mi equipo, realizamos la implementaci贸n de un centro de datos totalmente nuevo y funcional, empleando herramientas de c贸digo abierto como NGINX, Apache, New Relic, Docker, Portainer, Jenkins, Proxmox y Proxmox Mail Gateway para optimizar su rendimiento, monitorizaci贸n y gesti贸n.-->
    <ul style="list-style-type: square;">
      <li>Dirig铆 la infraestructura tecnol贸gica, garantizando la continuidad de servidores y redes.</li>
      <li>Automatizaci贸n de despliegues con Jenkins y GitLab CI, logrando procesos eficientes y estables.</li>
      <li>Coordin茅 la implementaci贸n de un nuevo centro de datos, optimizando el rendimiento de los sistemas.</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Soporte T茅cnico"
      subtitle="Secretar铆a T茅cnica de Planificaci贸n, Asunci贸n, Paraguay. 2015 to 2019"
    >
    <ul style="list-style-type: square;">
      <li>Resoluci贸n de problemas de hardware, software y redes, asegurando soporte t茅cnico efectivo y sistemas estables.</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Desarrollador Genexus"
      subtitle="Soften, Asunci贸n, Paraguay. 2014 - 2015"
    >
    <ul style="list-style-type: square;">
      <li>Implementaci贸n de soluciones para clientes utilizando Genexus, asegurando funcionalidad y soporte de calidad.</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Soporte T茅cnico"
      subtitle="Financiera Paraguayo Japonesa, Asunci贸n, Paraguay. 2012 - 2014"
    >
    <ul style="list-style-type: square;">
      <li>Asistencia en instalaci贸n, mantenimiento y resoluci贸n de problemas en hardware y software, garantizando continuidad operativa.</li>
    </ul>
    </TimeLineElement>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educaci贸n</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Lic. en Informatica"
      subtitle="2020 to Actualmente at Universidad Americana, Asunci贸n, Paraguay"
    />
    <TimeLineElement
      title="Ingles"
      subtitle="2024 to Actualmente at Lynx, Bogot谩, Colombia "
    />
    <TimeLineElement
      title="Ingles"
      subtitle="2024 to Actualmente at Platzi, Bogot谩, Colombia"
    />
    <TimeLineElement
      title="Frontend Developer"
      subtitle="2024 to Actualmente at Platzi, Bogot谩, Colombia"
    />
    <TimeLineElement
    title="Frontend Developer"
    subtitle="2024 to Actualmente at DevTalles"
  />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>MySQL</li>
    <li>Git</li>
    <li>Linux</li>
    <li>Zimbra</li>
    <li>Postgres</li>
  </ul>
</BaseLayout>
