---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import TimeLineElement from "../components/cv/TimeLine.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there </div>
    <div class="text-5xl font-bold">I'm Ismael Melgarejo</div>
    <div class="text-3xl py-3 font-bold">SysAdmin - Front-End Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Desarrollador frontend con conocimientos b谩sicos en la creaci贸n de interfaces web utilizando HTML, CSS connect
        y JavaScript. Experiencia previa de 8 a帽os en administraci贸n de infraestructura IT, Servidores Linux 
        y virtualizaci贸n.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/ismaelmelgarejo/" target="_blank"> LinkedIn</a>
      <a href="mailto:contact.ismaelmelgarejo@gmail.com" target="_blank" class="btn btn-outline ml-5">
        Contacto
      </a>
    </div>
  </div>

  <!--<div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Analista Desarrollador"
      subtitle="From 2024 to Actualmente at Ministerio de Econom铆a y Finanzas, Asunci贸n, Paraguay"
    >
    Desarrollo y mantenimiento de aplicaciones web utilizando JavaScript, HTML, CSS, angular, php y WordPress. Colaborar con el equipo para implementar nuevas funciones y corregir errores.
    </TimeLineElement>
    
    <TimeLineElement
      title="Jefe del Departamento de Infraestructura"
      subtitle="From 2022 to 2023 at Secretar铆a T茅cnica de Planificaci贸n, Asunci贸n, Paraguay"
    >
    Como Jefe del Departamento de Infraestructura, gestiono la infraestructura tecnol贸gica heredada de la organizaci贸n, asegurando el correcto funcionamiento de servidores, redes y servicios cr铆ticos. Lidero el equipo encargado del mantenimiento y optimizaci贸n de los sistemas, implementando mejoras y garantizando la seguridad y disponibilidad continua de los recursos tecnol贸gicos para cumplir con los objetivos operativos de la instituci贸n. He trabajado extensivamente con herramientas de c贸digo abierto como NGINX, Apache, New Relic, Docker, Portainer, Jenkins, Proxmox y Proxmox Mail Gateway, aprovechando estas plataformas para optimizar el rendimiento, la monitorizaci贸n y la gesti贸n de los sistemas heredados.
    </TimeLineElement>

    <TimeLineElement
      title="Jefe del Departamento de Infraestructura"
      subtitle="From 2019 to 2022 at Secretar铆a Nacional Anticorrupci贸n, Asunci贸n, Paraguay"
    >
    Como Jefe del Departamento de Infraestructura, gestiono la infraestructura tecnol贸gica de la organizaci贸n, asegurando el correcto funcionamiento de servidores, redes y servicios cr铆ticos. Lidero el equipo encargado del mantenimiento y optimizaci贸n de los sistemas, implementando mejoras y garantizando la seguridad y disponibilidad continua de los recursos tecnol贸gicos para cumplir con los objetivos operativos de la instituci贸n. Junto con mi equipo, realizamos la implementaci贸n de un centro de datos totalmente nuevo y funcional, empleando herramientas de c贸digo abierto como NGINX, Apache, New Relic, Docker, Portainer, Jenkins, Proxmox y Proxmox Mail Gateway para optimizar su rendimiento, monitorizaci贸n y gesti贸n.
    </TimeLineElement>
    <TimeLineElement
      title="Soporte T茅cnico"
      subtitle="From 2015 to 2019 at Secretar铆a T茅cnica de Planificaci贸n, Asunci贸n, Paraguay"
    >
      Brindo asistencia t茅cnica en la resoluci贸n de problemas de hardware, software y redes, asegurando el correcto funcionamiento de los sistemas y soporte eficiente a los usuarios.
    </TimeLineElement>
    <TimeLineElement
      title="Desarrollador Genexus"
      subtitle="From 2014 to 2015 at Soften, Asunci贸n, Paraguay"
    >
      Brindo asistencia t茅cnica en la resoluci贸n de problemas de hardware, software y redes, asegurando el correcto funcionamiento de los sistemas y soporte eficiente a los usuarios.
    </TimeLineElement>
    <TimeLineElement
      title="Soporte T茅cnico"
      subtitle="From 2012 to 2014 at Financiera Paraguayo Japonesa, Asunci贸n, Paraguay"
    >
      Enfoque en proporcionar asistencia para la instalaci贸n, mantenimiento y resoluci贸n de problemas de hardware, software y redes.
    </TimeLineElement>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Lic. en Informatica"
      subtitle="2020 to Actualmente at Universidad Americana, Asunci贸n, Paraguay"
    />
    <TimeLineElement
      title="Ingles"
      subtitle="2024 to Actualmente at Lynx, Bogot谩, Colombia "
    />
    <TimeLineElement
      title="Ingles"
      subtitle="2024 to Actualmente at Platzi, Bogot谩, Colombia"
    />
    <TimeLineElement
      title="Frontend Developer"
      subtitle="2024 to Actualmente at Platzi, Bogot谩, Colombia"
    />
    <TimeLineElement
    title="Frontend Developer"
    subtitle="2024 to Actualmente at DevTalles"
  />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>MySQL</li>
    <li>Git</li>
    <li>Linux</li>
    <li>Zimbra</li>
    <li>Postgres</li>
  </ul>
</BaseLayout>
